# Serverless directories
.build
.serverless
.webpack

# Dependency directories
node_modules/
jspm_packages/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
tsconfig.tsbuildinfo

# IDE
.idea
.vscode

# SST
.sst
cdk.context.json
.sst.config.*.mjs

# Envdir
.envrc

# Environment variables
.env.*
!.env.example

# Test output
.nyc_output
coverage

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Angular
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db

# SQLite db used for unit testing
database.sqlite

cdk.out/sendgrid.env
